<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact Us - Medical Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    
    


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="static/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="static/css/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="static/css/custom.css">


    <!-- Modernizr JS -->
    <script src="static/js/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start of Header Top Area -->
        <header id="header" class="transparent-header head-style-1">
            <div id="sticky-header-with-topbar" class="ml-header-top d-none d-lg-block">
                <div class="container">
                    <div class="header-content bg-white">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="logo f-left sm-center">
                                    <a href="index.php">
                                        <img src="static/picture/medilearn-html-templete.png" alt="logo image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="mainmenu-container">
                                    <nav class="mainmenu-nav">
                                        <ul class="main-menu">
                                            <li class="drop"><a href="index.php">Home</a>
                                                <ul class="dropdown">
                                                    <li><a href="index-animation-text-1.html">home animated text 1</a></li>
                                                    <li><a href="index-animation-text-2.html">home animated text 2</a></li>
                                                    <li><a href="index-animation-text-3.html">home animated text 3</a></li>
                                                    <li><a href="index-animation-text-4.html">home animated text 4</a></li>
                                                    <li><a href="index-video-bg.html">home video bg</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">About us</a></li>
                                            <li class="drop"><a href="popular-courses.html">Courses</a>
                                                <ul class="dropdown">
                                                    <li><a href="popular-courses-two-column.html">courses two column</a></li>
                                                    <li><a href="popular-courses-three-column.html">courses three column</a></li>
                                                </ul>
                                            </li>
                                            <li class="drop"><a href="medical-service.html">Services</a>
                                                <ul class="dropdown">
                                                    <li><a href="medical-service-two-column.html">service two column</a></li>
                                                    <li><a href="medical-service-three-column.html">service three column</a></li>
                                                    <li><a href="medical-service-four-column.html">service four column</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="our-events-page.html">Events</a>
                                            </li>
                                            <li class="drop"><a href="blog.html">News</a>
                                                <ul class="dropdown">
                                                    <li><a href="blog-two-column.html">Blog two column</a></li>
                                                    <li><a href="blog-three-column.html">Blog three column</a></li>
                                                    <li><a href="blog-four-column.html">Blog four column</a></li>
                                                </ul>
                                            </li>
                                            <li class="drop"><a href="#">Structure</a>
                                                <ul class="dropdown">
                                                    <li class="drop"><a href="#">Header</a>
                                                        <ul class="dropdown smright">
                                                            <li><a href="header-one.html">header one</a></li>
                                                            <li><a href="header-two.html">header two</a></li>
                                                            <li><a href="header-three.html">header three</a></li>
                                                            <li><a href="header-four.html">header four</a></li>
                                                            <li><a href="header-five.html">header five</a></li>
                                                            <li><a href="header-six.html">header six</a></li>
                                                            <li><a href="header-seven.html">header seven</a></li>
                                                            <li><a href="header-eight.html">header eight</a></li>
                                                            <li><a href="header-nine.html">header nine</a></li>
                                                            <li><a href="header-ten.html">header ten</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="#">Footer</a>
                                                        <ul class="dropdown smright">
                                                            <li><a href="footer-one.html">footer one</a></li>
                                                            <li><a href="footer-two.html">footer two</a></li>
                                                            <li><a href="footer-three.html">footer three</a></li>
                                                            <li><a href="footer-four.html">footer four</a></li>
                                                            <li><a href="footer-five.html">footer five</a></li>
                                                            <li><a href="footer-six.html">footer six</a></li>
                                                            <li><a href="footer-seven.html">footer seven</a></li>
                                                            <li><a href="footer-eight.html">footer eight</a></li>
                                                            <li><a href="footer-nine.html">footer nine</a></li>
                                                            <li><a href="footer-ten.html">footer ten</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="drop"><a href="#">Pages</a>
                                                <ul class="dropdown">
                                                    <li class="drop"><a href="blog-details.html">blog details</a>
                                                        <ul class="dropdown smright">
                                                            <li><a href="blog-details-both-sidebar.html">Blog both sidebar</a></li>
                                                            <li><a href="blog-details-no-sidebar.html">Blog details full width</a></li>
                                                            <li><a href="blog-details-left-sidebar.html">Blog left sidebar</a></li>
                                                            <li><a href="blog-details-right-sidebar.html">Blog right sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="service-details.html">Service Details</a>
                                                        <ul class="dropdown smright">
                                                            <li><a href="service-details-both-sidebar.html">Service both sidebar</a></li>
                                                            <li><a href="service-details-full-width.html">Service details full width</a></li>
                                                            <li><a href="service-details-left-sidebar.html">Service left sidebar</a></li>
                                                            <li><a href="service-details-right-sidebar.html">Service right sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="courses-details.html">Courses Details</a></li>
                                                    <li><a href="event-details.html">Event Details</a></li>
                                                    <li><a href="register.html">Register page</a></li>
                                                    <li><a href="our-testimonial.html">Testimonial page</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile-menu-area start -->
            <div class="mobile-menu-area d-lg-none">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <div class="mobile-logo">
                            <a href="index.php"><img src="static/picture/2.png" alt="Mobile logo"></a>
                        </div>
                        <div class="mobile-toggle">
                            <button class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile-menu-area end -->
        </header>
        <!-- End of Header Top Area -->

        <!-- Mobile Menu Start -->
        <div class="mobile-menu mobile-menu-items">

            <div class="mobile-menu-close">
                <button class="close-toggle">
                    <span></span>
                    <span></span>
                </button>
            </div>

            <ul class="main_menu">
                <li class="drop"><a href="index.php">Home</a>
                    <ul class="dropdown">
                        <li><a href="index-animation-text-1.html">home animated text 1</a></li>
                        <li><a href="index-animation-text-2.html">home animated text 2</a></li>
                        <li><a href="index-animation-text-3.html">home animated text 3</a></li>
                        <li><a href="index-animation-text-4.html">home animated text 4</a></li>
                        <li><a href="index-video-bg.html">home video bg</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About us</a></li>
                <li class="drop"><a href="popular-courses.html">Courses</a>
                    <ul class="dropdown">
                        <li><a href="popular-courses-two-column.html">courses two column</a></li>
                        <li><a href="popular-courses-three-column.html">courses three column</a></li>
                    </ul>
                </li>
                <li class="drop"><a href="medical-service.html">Services</a>
                    <ul class="dropdown">
                        <li><a href="medical-service-two-column.html">service two column</a></li>
                        <li><a href="medical-service-three-column.html">service three column</a></li>
                        <li><a href="medical-service-four-column.html">service four column</a></li>
                    </ul>
                </li>
                <li><a href="our-events-page.html">Events</a>
                </li>
                <li class="drop"><a href="blog.html">News</a>
                    <ul class="dropdown">
                        <li><a href="blog-two-column.html">Blog two column</a></li>
                        <li><a href="blog-three-column.html">Blog three column</a></li>
                        <li><a href="blog-four-column.html">Blog four column</a></li>
                    </ul>
                </li>
                <li class="drop"><a href="#">Structure</a>
                    <ul class="dropdown">
                        <li class="drop"><a href="#">Header</a>
                            <ul class="dropdown smright">
                                <li><a href="header-one.html">header one</a></li>
                                <li><a href="header-two.html">header two</a></li>
                                <li><a href="header-three.html">header three</a></li>
                                <li><a href="header-four.html">header four</a></li>
                                <li><a href="header-five.html">header five</a></li>
                                <li><a href="header-six.html">header six</a></li>
                                <li><a href="header-seven.html">header seven</a></li>
                                <li><a href="header-eight.html">header eight</a></li>
                                <li><a href="header-nine.html">header nine</a></li>
                                <li><a href="header-ten.html">header ten</a></li>
                            </ul>
                        </li>
                        <li class="drop"><a href="#">Footer</a>
                            <ul class="dropdown smright">
                                <li><a href="footer-one.html">footer one</a></li>
                                <li><a href="footer-two.html">footer two</a></li>
                                <li><a href="footer-three.html">footer three</a></li>
                                <li><a href="footer-four.html">footer four</a></li>
                                <li><a href="footer-five.html">footer five</a></li>
                                <li><a href="footer-six.html">footer six</a></li>
                                <li><a href="footer-seven.html">footer seven</a></li>
                                <li><a href="footer-eight.html">footer eight</a></li>
                                <li><a href="footer-nine.html">footer nine</a></li>
                                <li><a href="footer-ten.html">footer ten</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="drop"><a href="#">Pages</a>
                    <ul class="dropdown">
                        <li class="drop"><a href="blog-details.html">blog details</a>
                            <ul class="dropdown smright">
                                <li><a href="blog-details-both-sidebar.html">Blog both sidebar</a></li>
                                <li><a href="blog-details-no-sidebar.html">Blog details full width</a></li>
                                <li><a href="blog-details-left-sidebar.html">Blog left sidebar</a></li>
                                <li><a href="blog-details-right-sidebar.html">Blog right sidebar</a></li>
                            </ul>
                        </li>
                        <li class="drop"><a href="service-details.html">Service Details</a>
                            <ul class="dropdown smright">
                                <li><a href="service-details-both-sidebar.html">Service both sidebar</a></li>
                                <li><a href="service-details-full-width.html">Service details full width</a></li>
                                <li><a href="service-details-left-sidebar.html">Service left sidebar</a></li>
                                <li><a href="service-details-right-sidebar.html">Service right sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="courses-details.html">Courses Details</a></li>
                        <li><a href="event-details.html">Event Details</a></li>
                        <li><a href="register.html">Register page</a></li>
                        <li><a href="our-testimonial.html">Testimonial page</a></li>
                    </ul>
                </li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="menu-overlay"></div>
        <!-- Mobile Menu End -->

        <!-- Start Bradcaump area -->
        <div class="ml-bradcaump-area bg-3 ptb-100 smpb-50 xspt-60" data-black-overlay="5">
            <div class="container">
                <div class="bradcaump-wrap text-center">
                    <h2 class="bradcaump-title">Contact Us</h2>
                    <nav class="bradcaump-inner">
                        <a class="breadcrumb-item" href="index.php">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb-item active">Contact Us</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->

        <div class="ml-contact-page-wrap ptb-100 smptb-60 xsptb-40 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="ml-contact-form-inner bg-4" data-black-overlay="7">
                            <form id="contact-form" action="mail.php" method="post">
                                <div class="input-box">
                                    <input type="text" name="name" placeholder="Your Name*">
                                    <input type="email" name="email" placeholder="Your Mail*">
                                </div>
                                <div class="input-sub">
                                    <input type="text" name="subject" placeholder="Subject*">
                                </div>
                                <div class="input-messa">
                                    <textarea name="message" placeholder="Type Your Massage......."></textarea>
                                </div>
                                <div class="send-btn">
                                    <button type="submit" class="ml-btn btn-light btn-large btn-large-5">Send Massage</button>
                                </div>
                            </form>
                        </div>
                        <p class="form-messege"></p>
                    </div>
                    <div class="col-sm-6">
                        <div class="ml-contact-location">
                            <div class="ml-contact-location-wrap  mb-50">
                                <div class="single-contact-address">
                                    <div class="address-icon">
                                        <i class="zmdi zmdi-pin"></i>
                                    </div>
                                    <div class="address-details">
                                        <p>112 meril avenue, Ocland City <br> NA USA</p>
                                    </div>
                                </div>
                                <div class="single-contact-address">
                                    <div class="address-icon">
                                        <i class="zmdi zmdi-phone"></i>
                                    </div>
                                    <div class="address-details">
                                        <p><a href="javascript:;">+88 01916 939 556</a></p>
                                        <p><a href="javascript:;">+88 01916 939 556</a></p>
                                    </div>
                                </div>
                                <div class="single-contact-address">
                                    <div class="address-icon">
                                        <i class="zmdi zmdi-email"></i>
                                    </div>
                                    <div class="address-details">
                                        <p><a href="mailto:www.yourmail.com">www.yourmail.com</a></p>
                                        <p><a href="mailto:www.mymail.com">www.mymail.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start of Google Map Area -->
                            <div class="map-contacts">
                                <div id="googleMap"></div>
                            </div>
                            <!-- End of Google Map Area -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Footer Area -->
        <footer id="ml-footer">
            <div class="footer-top">
                <div class="ml-footer-area ptb-100 ftr-bg ftr-bg-1 smptb-60 xsptb-40">
                    <div class="container">
                        <div class="ml-footer-container">
                            <div class="row">
                                <!--Start Single Footer wrap -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="ml-single-footer-widget">
                                        <div class="footer-logo">
                                            <img src="static/picture/2.png" alt="Footer logo">
                                        </div>
                                        <p class="footer-pra">Lorem ipsum dolor sit amet, consectetur adi elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua.
                                        </p>
                                        <div class="ml-footer-details">
                                            <!--Start Single Footer address -->
                                            <div class="single-footer-address">
                                                <div class="ml-footer-icon">
                                                    <i class="zmdi zmdi-pin"></i>
                                                </div>
                                                <div class="ml-footer-address">
                                                    <p>123 West Street,Melbourne Victoria 2000 Australia</p>
                                                </div>
                                            </div>
                                            <!--End Single Footer address -->
                                            <!--Start Single Footer address -->
                                            <div class="single-footer-address">
                                                <div class="ml-footer-icon">
                                                    <i class="zmdi zmdi-email"></i>
                                                </div>
                                                <div class="ml-footer-address">
                                                    <p><a href="mailto:www.yourmail.com">www.devitems@gmail.com</a></p>
                                                    <p>Fax:+ (123) 123 321 345</p>
                                                </div>
                                            </div>
                                            <!--End Single Footer address -->
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                                <!--Start Single Footer wrap -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="ml-single-footer-widget latest-news">
                                        <h2 class="ml-footer-title">Latest News</h2>
                                        <!-- Start latest post -->
                                        <div class="ml-leatest-post">
                                            <div class="ml-single-ft-post clearfix">
                                                <div class="ft-post-thumb">
                                                    <img src="static/picture/17.jpg" alt="latest images">
                                                </div>
                                                <div class="ft-post-details clearfix">
                                                    <h4 class="ft-post-title"><a href="#">Diabetes and Endocrino</a></h4>
                                                    <p class="ft-post-pra">Lorem ipsum dolor sit amet, consectetu adipisicing elit</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End latest post -->
                                        <!-- Start latest post -->
                                        <div class="ml-leatest-post">
                                            <div class="ml-single-ft-post clearfix">
                                                <div class="ft-post-thumb">
                                                    <img src="static/picture/17.jpg" alt="latest images">
                                                </div>
                                                <div class="ft-post-details clearfix">
                                                    <h4 class="ft-post-title"><a href="#">Diabetes and Endocrino</a></h4>
                                                    <p class="ft-post-pra">Lorem ipsum dolor sit amet, consectetu adipisicing elit</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End latest post -->
                                        <!-- Start latest post -->
                                        <div class="ml-leatest-post">
                                            <div class="ml-single-ft-post clearfix">
                                                <div class="ft-post-thumb">
                                                    <img src="static/picture/17.jpg" alt="latest images">
                                                </div>
                                                <div class="ft-post-details clearfix">
                                                    <h4 class="ft-post-title"><a href="#">Diabetes and Endocrino</a></h4>
                                                    <p class="ft-post-pra">Lorem ipsum dolor sit amet, consectetu adipisicing elit</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End latest post -->
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                                <!--Start Single Footer wrap -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="ml-single-footer-widget our-course">
                                        <h2 class="ml-footer-title">Our Courses</h2>
                                        <ul class="ml-footer-menu">
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Diabetes And Endocrinology</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Laryngological</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Ophthalmology</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Pediatric Clinic</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Output Rehabilitation</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Output Surgery</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                                <!--Start Single Footer wrap -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="ml-single-footer-widget">
                                        <h2 class="ml-footer-title">Subscribe</h2>
                                        <div class="ft-social-icon-area">
                                            <p class="ft-pra">Lorem ipsum dolor sit amet, consectetur adi elit, sed do eiusmod tempor incididunt</p>
                                            <div class="input-box">
                                                <input type="email" name="mail" placeholder="Mail*">
                                                <button class="send-btn"><i class="zmdi zmdi-mail-send"></i></button>
                                            </div>
                                        </div>
                                        <!-- Start Social icon -->
                                        <ul class="ml-social-icon">
                                            <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-skype"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                        </ul>
                                        <!-- End Social icon -->
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="footer-bottom-area bg-white">
                    <div class="container">
                        <div class="ml-footer-bootem">
                            <div class="ft-btm-inner">
                                <p>
                                    
                                        
                                    Copyright &copy; 2023.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->




    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="static/js/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="static/js/plugins.js"></script>
    <script src="static/js/slick.min.js"></script>

    <!-- Google Map js -->
    <script src="static/js/js.js"></script>
    <script>
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: #
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 12,

                scrollwheel: false,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(23.7286, 90.3854), // New York

                // How you would like to style the map. 
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "saturation": 36
                    }, {
                        "color": "#000000"
                    }, {
                        "lightness": 40
                    }]
                }, {
                    "featureType": "all",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "on"
                    }, {
                        "color": "#000000"
                    }, {
                        "lightness": 16
                    }]
                }, {
                    "featureType": "all",
                    "elementType": "labels.icon",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 20
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }, {
                        "weight": 1.2
                    }]
                }, {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 20
                    }]
                }, {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 21
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 29
                    }, {
                        "weight": 0.2
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 18
                    }]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 16
                    }]
                }, {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 19
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }]
                }]
            };

            // Get the HTML DOM element that will contain your map 
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('googleMap');

            // Create the Google Map using our element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            // Let's also add a marker while we're at it
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(23.7286, 90.3854),
                map: map,
                title: 'Tasfiu!',
                icon: 'images/icons/map.png',
                animation: google.maps.Animation.BOUNCE

            });
        }
    </script>






    <!-- Waypoints.min.js. -->
    <script src="static/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="static/js/main.js"></script>

</body>

</html>